<p id="notice"><%= notice %></p>

<h1>Listing My Lists</h1>



  
    <% @my_lists.each do |my_list| %>
    <br>
    <div style="background-color: red;">
      <table>
      <tr>
        <td><%= my_list.user %></td>
        <td><%= my_list.query %></td>
        <td><%= link_to 'Show', my_list %></td>
        <td><%= link_to 'Edit', edit_my_list_path(my_list) %></td>
        <td><%= link_to 'Destroy', my_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
</table>
<br><br><br><br><br><br><br>
</div>
<br>
      
    <% end %>
  

<%= link_to 'New My list', new_my_list_path %>

