<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @menu_x_meal.menu %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @menu_x_meal.meal %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @menu_x_meal.periodo %>
</p>

<%= link_to 'Edit', edit_menu_x_meal_path(@menu_x_meal) %> |
<%= link_to 'Back', menu_x_meals_path %>
